backports.functools-lru-cache==1.4
contextlib2==0.5.4
cycler==0.10.0
ecdsa==0.13
Fabric==1.12.0
invoke==0.13.0
Jinja2==2.8
MarkupSafe==0.23
matplotlib==2.1.0
numpy==1.13.3
oauthlib==2.0.6
pandas==0.21.0
paramiko==1.17.2
prettytable==0.7.2
psycopg2==2.7.3.2
pycrypto==2.6.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.10.0
requests-oauthlib==0.8.0
scipy==1.0.0
seaborn==0.8.1
simplejson==3.8.2
six==1.10.0
SQLAlchemy==1.1.15
streamparse==2.1.4
subprocess32==3.2.7
tweepy==3.5.0
virtualenv==15.0.2
